/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 1em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.Toolbar {
  display: flex;
  flex-direction: row;
  
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  padding-bottom: 20px;
}

.Button {
  padding: 8px;
  background: #eee;
  border: 1px solid #ccc;
  font-size: 12px;
  margin-right: 10px;
}

.File {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.File-caption {
  cursor: pointer;
}

.File > input {
  opacity: 0.0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}



.TileOne Tile {
  display: inline-block;
  width: 300px;
}

.TileOne .Tile img {
  max-width: 224px;
  max-height: 224px;
}


.TileOne .Tile-info {
  margin: 10px;
  flex: 4;
}

.TileOne .Tile-bar {
  display: flex;
  flex-direction: row;
}

.TileOne .Tile-bar-element {
  height: 20px; 
}


.TileTwo Tile {
  width: 100%;
}

.TileTwo .Tile img {
  display: inline-block;
  width: 64px;
}


.TileTwo .Tile-info {
  margin: 10px;
  display: inline-block;
}

.TileTwo .Tile-bar {
  display: flex;
  flex-direction: row;
}

.TileTwo .Tile-bar-element {
  height: 20px; 
}

.TileTwo .Tile-info > div > div {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

.TileTwo .Tile-class {
  font-size: 10px;
}

.TileTwo .Tile-number {
  font-size: 10px;
}

.TileTwo {
  display: flex;
  flex-direction: row;
}

.TileTwo .Items {
  height: 600px;
  overflow-y: scroll;
}

.TileTwo .Facets {
  flex: 1;
}


#model-key {
  width: 250px;
  font-size: 14px;
  padding: 6px;
}

#model-button {
  margin-right: 20px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.Label {
  color: #962565;
  margin-right: 10px;
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.SectionActions {
  display: flex;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header > p {
  flex: 1;
  margin-left: 20px;
}