/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.Tile {
  display: block;
}

.Tile img {
  max-width: 224px;
  max-height: 224px;
}
